header{
    height: 100vh;
    width: 100%;
    background-image: url('../../public/Images/bg.webp');
    background-repeat: no-repeat;
    background-position: 50% -25px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.header-bg::before{
    position: absolute;
    content: "";
    background-color: rgba(0,0,0,.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}
.header-absolute{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    z-index: 999;
}

